@import "bootstrap/bootstrap.less";
@color-one : #f7f7f7;

body{
  background: @color-one;
	font-family: Lato, sans-serif;
}
.container{
  padding:0 0px;
}
#top-ribbon{
  border-top:4px solid @brand-danger;
}
#homePage{
  padding:0 20px;
}
#search-panel{
  margin: 0 0 40%;
  transform: translateY(50%);
  .homePageLogo{
    margin:0 auto;
    padding:0;
  }
  h1{
    font-size: 3.2em;
    font-weight: 200;
    margin:0.1em 0 0.4em;
    color:@gray-light;
  }
  .search-box{
    border-right: 0;
    font-size:1.23em;
    padding:1.3em 1.0em;
    border-radius: 2px;
    font-weight: 400;
    &:focus{
      box-shadow: none;
      border-color:@btn-default-border;
    }
  }
  .search-loader{
    display: none;
    position: absolute;
    z-index:99;
    margin-top: 1.2em;
    margin-left:-5.5em;
  }

  button{
    border-radius: 2px;
    padding:0.75em 1.0em;
    border-left:0;
    color:@gray-light;
    span{
      font-size: 1.4em;
    }
    &:hover{
      background: @brand-success;
      span{
        color:#fff;
      }
    }
  }
}
#pricingTab{
  margin-bottom: 5%;
}

.pricing-table {

    .plan {
        margin-left:0px;
        text-align: center;
        background: @color-one;
        .plan-header{
          h2{
            font-size: 1.8em;
            font-weight: 700;
          }
          span {
              font-size: 1.1em;
              font-style: italic;;
          }
        }
        .plan-price{
          text-align: center;
          padding:1.5em 0;
          background-color:darken(#f7f7ed,5%);
          h3{
            margin:0;
            padding:0.4em 0;
            font-size: 1.8em;
            font-weight: 600;
            color:darken(#f7f7ed,40%);
            small{
              position: relative;
              bottom:5px;
              display: inline-block;
              margin:0 0.5em;
              color:darken(#f7f7ed,40%);
            }
          }
        }
        .price-content{
          padding:0.5em 0 2.0em 0;
          background-color: #fff;
          strong{
            display: inline-block;
            margin:2.0em 0;
          }
        }
        ul {
            list-style: none;
            margin: 0 0px;
            background:#fff;
            li:first-child{
              border:none!important;
            }
            li {
                padding: 15px 10px;
                border-top: 1px solid #c5c8c0;
                margin-right: 35px;
            }
        }
    }
}
.plan {
    padding:20px;
    margin:0px;
    color: @gray;
}
.plan-name-light {
    padding: 20px;
    color: #fff;
    background: #6ec53f url(../assets/az-subtle.png);
}
.plan-name-run {
    padding: 20px;
    color: #fff;
    background: #f97133 url(../assets/az-subtle.png);
}

.pricing-three-column {
    margin: 0 auto;
    width: 80%;
}

#searchResPanel{
  padding:1.0em 0 1.5em;
  .homePageLogo{
    width:50px;
    float: left;
    margin-right: 1.0em;
  }
  .search-loader{
    display: none;
    position: absolute;
    z-index:99;
    margin-top: 0.7em;
    margin-left:-5.5em;
  }
  form{
    margin-top:0.55em;
  }
}
//Related Topic

#resultsTopic{
  width: 100%;
  height: 270px;
  padding:1.0em;
  white-space: nowrap;
  overflow-x: scroll;
  background-color: @gray-lighter;
  h3{
    margin:0;
    padding:0;
    font-size: 1.1em;
    font-weight: 600;
  }

  ul{
    margin:0;
    padding:0;
    li{
      width: 210px;
      height: 205px;
      padding:1.1em;
      margin:1.0em 0.7em 0;
      white-space: nowrap;
      overflow-x: hidden;
      text-align: center;
      img{
        max-width: 70px;

      }
      .related-topic-res{
        a{
          display: block;
          text-align: center;
          font-size: 1.1em;
          padding:0.5em 0;
        }
        text-align:left;
        display: block;
        height: 93px;
        left: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
        z-index: 1;
      }
    }
  }
}

//Results List
#result-list{
  margin:0.5em 0 1.5em;
  h4{
    font-size: 1.8em;
    padding-left:0.2em;
    font-weight: 300;
    color:@gray-light;
  }
  ol#lists{
    padding:0;
    margin:0
    li{
    }
  }
}

