<form class="input-group">
<input type="text" class="form-control search-box" placeholder="" />
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
  <img src="assets/loader.gif" class="search-loader"/>
</form>
