<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BuckBuckGo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/main-min.css">
  <script src="scripts/vendor/handlebars.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="top-ribbon"></div>
<div class="container">

  <div class="clearfix" id="homePage">
  <div id="search-panel" class="text-center">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <a href="#">
          <img src="assets/logo.jpg" alt="logo" class="homePageLogo"/>
        </a>
      </div>
      <div class="col-md-12 col-sm-12">
        <h1 class="text-center">BuckBuck Go</h1>
      </div>
    </div>
    <div class="row">
      <div class="search-form col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
        <!--Handlebars Search Template Here-->
      </div>
      </div>
  </div>


    <div id="pricingTab" class="pricing-table pricing-three-column row">
      <div class="plan col-sm-4 col-lg-4">
        <div class="plan-header plan-name-light">
          <h2>LIGHT</h2>
          <span>Great for small business</span>
        </div>
        <div class="plan-price">
          <h3><small>$</small>5</h3>
          <span>MONTHLY</span>
        </div>
        <div class="price-content">
          <ul>
            <li>24/7 Tech Support</li>
            <li>Advanced Option</li>
            <li>100GB Storage</li>
            <li>1GB Bandwidth</li>
          </ul>
          <strong>Upto 1 million searches</strong>
        </div>
      </div>

      <div class="plan col-sm-4 col-lg-4">
        <div class="plan-header plan-name-run">
          <h2>RUN</h2>
          <span>Great for small business</span>
        </div>
        <div class="plan-price">
          <h3><small>$</small>9<small>79</small></h3>
          <span>MONTHLY</span>
        </div>
        <div class="price-content">
          <ul>
            <li>24/7 Tech Support</li>
            <li>Advanced Option</li>
            <li>100GB Storage</li>
            <li>1GB Bandwidth</li>
          </ul>
          <strong>Upto 1 million searches</strong>
        </div>
      </div>
      <div class="plan col-sm-4 col-lg-4">
        <div class="plan-header plan-name-light">
          <h2>FLY</h2>
          <span>Great for small business</span>
        </div>
        <div class="plan-price">
          <h3><small>$</small>12</h3>
          <span>MONTHLY</span>
        </div>
        <div class="price-content">
          <ul>
            <li>24/7 Tech Support</li>
            <li>Advanced Option</li>
            <li>100GB Storage</li>
            <li>1GB Bandwidth</li>
          </ul>
          <strong>Upto 1 million searches</strong>
        </div>
      </div>
    </div><!--/pricing-table-->

  </div><!--/Homepage-->


  <div id="searchResultsPage">
    <div class="clearfix" id="searchResPanel">
      <a href="#">
        <img src="assets/logo.jpg" alt="logo" class="homePageLogo"/>
      </a>

      <div class="search-form">
      <!--Handlebars Search Template Here-->
      </div>
    </div><!--/row-->

    <!--Handlebars RESULTS Here-->
    <div class="clearfix" id="resultsInfo">

    </div><!--/resultsInfo-->
  </div><!--/row-SearchResultsPage-->
</div><!--/container-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="scripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="scripts/plugins.js"></script>
<script src="scripts/main.js"></script>

<script id="results-template" type="text/x-handlebars-template">
        {{#if RelatedTopics}}
        <div id="resultsTopic" class="clearfix">
          <h3>Related Topics</h3>
          <ul class="list-inline list-group">
            {{#each RelatedTopics}}
            <li class="list-group-item item">
              {{#if Icon.URL}}
              <img src="{{Icon.URL}}" class="img-responsive img-thumbnail" alt=""/><br/>
              {{/if}}
              {{#if Result}}
              <span class="related-topic-res">{{{Result}}}</span>
              {{/if}}
              {{#each Topics}}
              <span class="related-topic-res">{{{Result}}}</span>
              {{/each}}
              {{/each}}
            </ul>
          </div>
          {{/if}}
          <div class="clearfix" id="result-list">
            <h4></h4>
            <ol id="lists" class=" list-group">
              {{#if Results}}
              {{#each Results}}
              <li class="list-group-item item">
                <div class="header"><a style="font-size:1.2em;color:#444;"href="{{FirstURL}}">{{Text}}</a></div>
                <span style="padding:1.0em 0;color:#666;line-height:2.0em;font-size:1.05em;">{{Text}}</span><br/>
                <img src="{{Icon.URL}}" style="width:16px;margin:0 5px 0 0;"/><a href="" style="font-size:0.95em;color:#888;">{{FirstURL}}</a>
              </li>
              {{/each}}
              {{else}}
              <h4>Sorry, No Results Found</h4>
              {{/if}}
            </ol>
          </div><!--/list-->
      </script><!--/results-template-->

</body>
</html>
